* {
    margin: 0;
}

html {
    /* overflow: hidden; */
}

html, body {
    height: 100%;
}

/* override default browser styling on the body */
body {
    margin-top: 0;
    margin-bottom: 0;
}

/* remove underbar on hover with links */
a:link:hover, a:visited:hover {
    color: #888;
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#888, #888);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#888, #888);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%; 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link:hover, a:visited:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

/* styling of meta content in blog posts  */
span.content-meta {
    color: #888;
    font-style: normal;
    font-size: 1.2rem;
    display: block;
}

 /* Header */
 .mainHeader {
	position: fixed;
	max-height: 50px;
    width: 100%; 
    z-index: 999;
    background-color: #111;
	overflow: hidden;
    margin-left: -12.5%;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    color: #fffff8;
}

.mainHeader a:link, .mainHeader a:visited, 
.page-footer a:link, .page-footer a:visited {
    text-shadow: 0.03em 0 #111, -0.03em 0 #111, 0 0.03em #111, 0 -0.03em #111, 0.06em 0 #111, -0.06em 0 #111, 0.09em 0 #111, -0.09em 0 #111, 0.12em 0 #111, -0.12em 0 #111, 0.15em 0 #111, -0.15em 0 #111;
    background: -webkit-linear-gradient(#fffff8, #fffff8);
    background: linear-gradient(#fffff8, #fffff8);
    color: #fffff8;
    text-decoration: none;
    -webkit-background-size: 0px 0px;
    -moz-background-size: 0px 0px;
    background-size: 0px 0px;
    background-repeat: repeat-x;
    background-position: 0% 93%;
}

.mainHeader a:link:hover, .mainHeader a:visited:hover,
.page-footer a:link:hover, .page-footer a:visited:hover {
    color: #ccc;
}

footer.page-footer p {
    color: #fffff8;
    font-size: .8rem;
    margin-bottom: 0px;
}

.logo {
	width: 50px;
	font-size: 2rem;
	color: #8f8f8f;
	text-transform: uppercase;
    display: block;
    float: left;
    margin: 0px 22px;
    line-height: 3rem;
}

nav {
	float: right;
    width: 60%;
    margin: 0px 22px;
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    font-size: 1rem;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    line-height: 3.0;
}

nav li:not(:first-child) {
    margin-top: 0;
}

nav a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 0;
}

.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 12px;
	width: 30px;
	-webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #fffff8;
    display: block;
}

.open-nav {
    max-height: 400px !important;
}

.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

 /* End Header */



details summary {
    vertical-align: top;
    padding: .3em .5em;
    outline: none;
}

.toc summary {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 20px;
    padding-left: 0px;
}

.toc ul {
	list-style: none;
	display: block;
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left:5px;
    padding-left: 10px;
    width: 87.5%;
    line-height: 1rem;
}
  
/* Second Level */
.toc ul ul{
    margin-top: 0rem;  
    margin-left: 5px;
}

/* Third Level */
.toc ul ul ul{
    margin-top: 0rem;
    margin-left: 5px;
}

/* Fourth Level */
.toc ul ul ul ul{
    margin-top: 0rem;
    margin-left: 5px;
}

.toc li {
    line-height: 0rem;
    margin-right: 0px;
}

details ul {
    list-style: none;
    display: block;
    max-width: 45rem;
    font-size: 1.3rem;
    width: 87.5%;
}

details li {
	display: inline-block;
}

ul.content-list {
    width: 100%;
    -webkit-padding-start: 5%; 
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
}

ul.content-list li {
    width: 100%;
}

div.paginator-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: -12.5%;
    position: fixed;
    position: absolute;
    bottom: 50px;
}

div.paginator-container p {
    flex-grow: 1;
}

div.content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px; 
    position: relative;
}

div.content:after {
    content: "";
    display: block;
}

footer.page-footer, div.content:after {
    height: 100px;
    max-height: 100px !important;
}

footer.page-footer {
    background: black;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-social {
    font-size: 2rem;
}

@media (max-width: 760px) {

    div.paginator-container, .mainHeader {
        margin-left: -8%;
    }

    nav {
        width: 100%;  
    }

    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }

    nav li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
        line-height: 2rem;
    }

    .mobile-toggle {
        display: block;
        margin-left: -8%;
    }
}
